/*слишком маленькие списки по высоте у тебя получились*/
/*также если в списке нет элементов, то лучше бы его не схлопывать, а задавать высоту по умолчанию*/
.mainBlock
{
	width: 100 %; 
	display: table;
	padding: 5px;
}
.tableCell
{
	width: 100 %; 
	display: table-cell;
	padding: 5px;
}
.tableColumn
{
	align: center;
	width: 100 %; 
	display: table-caption; 
	margin-bottom: -5px;
}